.chenbutton3 {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid #52796F;
    color: #52796F;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px #c2c2c2c2;
}