.chensize {
    font-size: 12px;
}
.chenp {
    font-size: 18px;
}



@media (max-width:400px) {
    .blogcontent {
        display: flex;
        flex-direction: column;
    }
    .chenre {
        display: none;
    }
    .chenp {
        font-size: 14px;
    }
}