.CartTotalContain{
    width: 100%;
    height: 100%;
}

.CartTotalcol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:150px;
}
.CartTotalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:62px 0;
}
.CartTotalCouponPrice{
    margin-bottom: 62px;
}
.CartTotalTitle{
    font-size: 40px;
}
.CartTotalPriceItem1{
    font-size: 34px;
    padding-right: 40px;
    
}
.CartTotalPriceItem2{
    font-size: 34px;
    padding-left: 40px;
}
.CartTotalCouponPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CartTotalCoupontext1{
    font-size: 34px;
    padding-right: 40px;
}
.CartTotalCoupontext2{
    font-size: 34px;
    padding-left: 75px;
}
.CartTotalBtngroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
}
.CartTotalBtnUse{
    margin-right: 40px;
}
.CartTotalBtnGet{
    margin-left: 40px;
}
.CartTotalBtnNext{
    margin-bottom: 62px;
}
