/* Styles for the dropdown menu */
.dropdownMenu {
  position: absolute;
  top: 120%;
  right: 1%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 0;
  z-index: 5;
  width: 120px;
}

.menuItem {
  display: block;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.menuItem:hover {
  background-color: #f0f0f0;
}