.header{
    width: 100%;
    height:100%;
}
.HeaderNavbar{
    display: flex;   
    align-items: center;
    justify-content: space-between;  /* Change space-around to space-between */
    padding-top: 10px;
    padding-right: 50px;  /* Add padding to right side */
 }
.logoname{
    width: 100%;
    display: none;
}
.NavbarRoute{
    display: flex;
    list-style: none;
    width: 60%;
}
.navlinkdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height:100%;
    transition: all 0.5s ease-in;
    white-space:nowrap;/*設定文字不換行*/
}
.navlinkdiv:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navlink1{
    text-decoration: none;
    text-align: center;
    color: #132811;
    font-size: var(--txp28);
    font-weight: bolder;
    line-height:60px;
    letter-spacing: 8px;
}
.carticon{
    position: absolute;
    right: 0px;
    top:20px
}

.linktext{
    color:#666666;
    font-size: var(--txp16);
    font-weight: bolder;
    opacity: 0.4;
    text-align: center;
    margin: 0;
   
}

.navlink2{
    text-decoration: none;
    margin:auto;
    position: relative;
}
.naviconbtn{
    margin:auto;
    border-style: none;
    cursor: pointer;
}
.Icongroup{  
    width: 10%;
    display: flex;
    justify-content: flex-end;  /* Align icons to the right */
    align-items: center;
    position: relative;
}
.Licon{
    cursor:pointer ;
}
.notify{
    position: absolute;
    border-radius: 50% 50%;
    width: 20px;
    height: 20px;
    /* background-color: #dc2525; */
    color: #dc2525;
    z-index:10;
    bottom:-3px;
    right: 5px;
    cursor: pointer;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
}
.bell{
    position: absolute;
    right: -6px;
}

@media(max-width:400px){

    .HeaderNavbar{
        height: 40px;
        border-bottom: 1px solid  var(--color2); 
        display: flex;   
        align-items: center;
        justify-content: space-around; 
        padding: 20px 10px;
     }
    .NavbarRoute{
        display: none;
    }
    .logoname{
        width: 60%;
        display: block;
        font-size: var(--txi16);
        color: var(--color2);
        font-weight:900;
        letter-spacing: 4px;
        margin-right: 40px;
        padding-top: 5px;
    }
    .logoimg{
        width:50%;
    }
    .Licon{
        width:25px;
        margin-left: 10px;
    }
    .carticon{
        position: absolute;
        right: 28px;
        top:15px
    }
}

/* 登入按鈕的自定義樣式 */
.loginBtn {
    display: inline-block;
    font-size: 24px;
    border: none;
    color: #84a98c;
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
    width: 48px;
}


  
  /* 登入按鈕的下底線動畫效果 */
  .loginBtn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #84a98c;
    transition: width 0.8s;
  }
  
  .loginBtn:hover {
    color: #84a98c;
  }
  
  .loginBtn:hover::after {
    width: 100%;
  }
  
  /* Add style for loginWrapper */
.loginWrapper {
    margin-left: auto;  /* Push this element to the right */
    position: relative;
}

@media(max-width:400px){
/*...*/
    .HeaderNavbar{
        height: 40px;
        border-bottom: 1px solid  var(--color2); 
        display: flex;   
        align-items: center;
        justify-content: flex-start; 
        padding: 25px 10px;
     }

     /*...*/

     /* Modify style for loginWrapper on smaller screens */
    .loginWrapper {
        margin-left: 10px;  /* Adjust the margin on smaller screens */
    }
    .carticon{
        position: absolute;
        right:-10px;
        top:20px
    }
}

/*
TODO: 
手機版 logo漢堡圖
手機版 navbar樣式
*/