.searchcontain{
    margin-top:30px;
    width:100%;
    height:600px;
    background-color: var(--color2);
    opacity: 0.8;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 0.8s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
    transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 0.8;
    }
  }
.searchrow{
    display: flex;
    gap: 10px;
}
.searchinput{
    width: 600px;
    height: 70px;
    padding-left: 10px;
    font-size: var(--txp20);
    border-radius: 5px;
}
.searchbtn{
    border-style: none;
    background-color: var(--color2);
    cursor: pointer;
}
@media (max-width:400px) {
        .searchcontain{
            width:100%;
            height:200px;
        }
        .searchinput{
            width: 200px;
            height: 35px;
        }
        .searchrow{
            display: flex;
            gap: 1px;
        }
        .searchicon{
            width: 80%;
            height: 70%;
        }
    
    
}
