.totaldiv{
    display: none;
}

@media (max-width:400px) {
    .totaldiv{
        display: block;
        position: fixed;
        bottom: 0;
        width: 500px;
        height: 90px;
        background: var(--bgc7);
    }
    .containdiv{
        display: flex;
        justify-content: space-around;
        align-content: center;
        
    }
    .rowdiv{
       display: flex;
       flex-direction: column;
       align-items: center;
       font-size: var(--txi14);
       text-decoration: none;
       padding-top: 20px;
    }
    .bookdiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 10px;
    }
    .bookcontain{
        width: 80px;
     background-color: var(--bgc6);
     border-radius: 50%;
    }
}