.text_line{
    border-bottom: 3px solid black ;
}
.text_line_sm{
    border-bottom: 1px solid black ;
}
.border_card{
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    /* top: calc((100vh - 50%) / 2); */
    left: calc((100vw - 50%)/2);
    /* padding-top:  60px; */
    cursor: default;
}

@media  print {
    .used_print{
        margin: 20px;
    }
    
}


