.card_text{
    width: 150px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top:10px ;
    border-top: 1px dashed var(--bgc5);
    margin-top: 10px;
  
}
.card_text_sm{
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--bgc5) ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_text_sm_author{
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--bgc5) ;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_text_dot{
color: var(--bgc5) ;
}
.card_all{
    padding: 15px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.10); */
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: inset 10px 0px 4px 0px rgba(0, 0, 0, 0.10);
     border-top: 20px solid rgb(189, 187, 185); 
    /* border-right: 15px solid rgb(198, 198, 198);  */

}
.card_text_sm_thin{
    width: 24px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--bgc5) ;
    
}
.card_text_sm_thin_1{
    width: 24px;
    font-size: 8px;
    text-align: center;
    letter-spacing: 2px;
    color: var(--bgc5) ;
    margin-top: 10px;
    
}
.card_all_thin{
    width:58px;
    padding: 10px 15px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    animation-name: card;
    animation-duration: 1s;
    animation-delay: 2.5s;
    border-top: 10px solid rgb(214, 212, 209);
 

}
.card_all_thin_tilt{
    width:58px;
    padding: 10px 15px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    transform:rotate(-20deg);
    animation-name: card;
    animation-duration: 1s;
    animation-delay:2.5s;
    border-top: 10px solid rgb(214, 212, 209); 
   

}
.card_all:hover{
    transition:all 1s;  
    transform: translate(0px, 5px); 
}
.card_all_thin:hover{
    transition:all 1s;  
    transform: translate(0px, 5px);
}
.card_all_thin_tilt:hover{
    transform:rotate(0deg);
    transform: translate(40px, 5px);
    transition:all 1s;
   
    
}
.index_book_card_text{
    text-decoration: none;
}
.index_card_hight{
    /* height: 300px; */
    /* display: flex;
    align-items: end; */
    transform: translate(0px, 0px);
    animation-name: card;
    animation-duration: 1s;
    animation-delay: 2s;
}

@keyframes card{
    0%{
        transform: translate(0px, -200px);
    }100%{
        transform: translate(0px, 0px);
    }
}
