.mnav_button{
    position: relative;
    list-style-type: none;
    height: 50px;
    background-color: var(--bgc9) ;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--txp20);
    color:var(--bgc7) ;
    font-weight: 600;
    letter-spacing: var(--Lp1);
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    
    
  
}
.mnav_a{
    text-decoration: none;
    margin-right: 3px;
    display: flex;
  
    /* width: 20%; */
    /* padding: 10px; */
}
.mnav_a :hover{
    background-color: var(--bgc2)
}
.mnav_button_active{
    position: relative;
    list-style-type: none;
    height: 50px;
    background-color: var(--bgc2) ;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--txp20);
    color:var(--bgc7) ;
    font-weight: 600;
    letter-spacing: var(--Lp1);
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    
  
}

@media screen and (max-width:700px) {
    .mnav_button{
        width:calc((100vw - 150px) / 2); 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--txi14);
        color:var(--bgc7) ;
        font-weight: 600;
        letter-spacing: var(--Lp1);
        border-top-left-radius:5px ;
        border-top-right-radius:5px ;
        flex: 1;
        
        /* padding-left: 5px;
        padding-right: 5px;
       */
    }
    .mnav_a{
        text-decoration: none;
        /* margin-right: 3px; */
        flex: 1;
        margin: 2px;
    }
    .mnav_a :hover{
        background-color: var(--bgc2)
    }
    .mnav_button_active{
        list-style-type: none;
        height: 50px;
        background-color: var(--bgc2) ;
         width: calc((100vw - 150px) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--txi14);
        color:var(--bgc7) ;
        font-weight: 600;
        letter-spacing: var(--Lp1);
        border-top-left-radius:5px ;
        border-top-right-radius:5px ;
        flex: 1;
      
    }
    .rwd_display{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
   }