.CountBlock{
 display: flex;
 justify-content: center;
}

.Countvalue{
    text-align: center;
    border: 1px solid black;
    width: 60px;
}

.ProdeuctBlock{
    text-align: center;
   padding: 25px;
}
.Prodeucttr{
    vertical-align: middle;
}