@media (max-width:400px) {
    .chenjc {
        justify-content: center;
    }
    .chenjc2 {
        display: none;
    }
    .chenp {
        padding-right: 50px;
    }
    .blogcontent {
        flex-direction: column;
    }
    .chenblognav {
        justify-content: space-around;
    }
}
