.buttonStyle_l {
    background-color: #52796F;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.btnctstyle {
    display: flex;
    justify-content: center;
}