.container{
    padding:20px 30px;
  
    /* border: 1px solid pink; */
}
.btn_set{
    display:flex;
    justify-content: space-evenly;
}
.content_box{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}
.favor_set{
    /* height:1px; */
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}
.pic_box{
    /* height: 600px; */
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bookName{
    word-wrap: break-word;
    font-weight: bold;
    padding-right: 10px;
}
.content>h5{
    font-size: 24px;
}
