
.box{
width: 100%; 
margin-top: 50px ;
margin-bottom: 50px;
padding-left: 12px;
}
.c_row{
border-bottom: 20px solid #898989;
border-color: rgba(0, 0, 0, 0.55);
margin-top: 60px !important; 
padding-bottom:5px ;
/* box-shadow: inset 0 -100px 0 var(--color5); */
}

@media (max-width: 600px) {
    .card{
        min-width: 100%;
    }
}
/* .car */