@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&family=Ubuntu:ital@1&display=swap');

.market_aside_bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #D4E9E2;
    height: 950px;

}

.market_aside_title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;

}

.market_aside_button {
    margin: 5px 0px;
    padding: 8px 12px;
    color: #3F7F3A;
    font-size: 24px;
    font-weight: bolder;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:90%;
    margin-left: 14px;
    font-family: 'Noto Serif TC', serif, sans-serif ,'Roboto';
}
.market_aside_button>ul>li{
    transition: transform 0.4s ease;
}

.market_aside_more {
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.4s ease;
}
.fs{
    font-family: 'Noto Serif TC', serif;
}
.market_aside_button>ul>li:hover{
    transform: scale(1.2);
}
.subMenu{
   width: 240px;
   color: #3F7F3A;
}