.card{
    transition: transform 3s ease;
    display: flex;
}
.card:hover{
    height: 170px;
    width: 380px;
}
.extra{
    display: none;
    position: relative;
    background-color: white;
}
.card:hover .extra {
    display: block;
    background-color: white;
}
/* .no{
    border: 0px,none !important;
} */
.p{
    font-size: 20px;
}
.x{
    position: absolute;
    right: 0px;
    border: none;
    background-color: transparent;
    position: absolute;
}