.card{
    transition: transform 3s ease;
    display: flex;
    position: relative;
    width: 160px;
}

.overlay {
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none ;
    overflow: auto;
  }
  .card:hover .overlay {
    display: block;
  }
  .overlay::-webkit-scrollbar {
    display: none;
  }
.p{
    font-size: 20px;
    color: #132811;
    font-weight: bold;
    letter-spacing:2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.x{
    position: absolute;
    bottom: 10px;
    left: 80px;
    border: none;
    box-shadow: 2px 2px 4px #52796F;
    background-color:#84A98C;
    position: absolute;
    border-radius: 4px;
}
