.title{
    border-bottom: 1px solid black;
    padding: 20PX;
}
.content{
    flex:1;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    margin-top: 20px;
}
.container{
  display: flex;
  flex-direction: column;
}
.p{
    margin-top: 50px;
    font-size: 20px;
}
.verticalExpand {
    white-space: pre-line;
    text-align: center; 
    
  }
  .used{
    width: 100%;
    position: sticky;
    bottom: 0;
  }