.detailcontain{
    width:100%;
    margin-bottom: 40px;
    border: 1px solid var(--color2);
    border-top: 0px;
}
.detaillist1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 100px;
}
.detaillist2{
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 40px;
}
.detailname{
    width: 300px;
    padding: 5px;
}


@media (max-width: 600px) {
    .detaillist1 {
      margin-bottom: 20px;
      border-bottom: 1px solid var(--color2);
    }
  
    .detaillist2 {
      flex-direction: column;
      align-items: end;
      gap: 10px;
    }
    .detailimg{
        width: 80%;
    }
    .detailphoto{
        width: 40%;
    }
  
    .detailname {
      width: 150%;
      font-size: 16px;
      text-align: end;
    }
    .detailcontain {
      width: 100%;
      margin-bottom: 20px;
      border-style: none;
    }
    .detailisbn{
        display: none;
    }
    .detailprice{
        display: none;
    }
    .detaillist1 {
      padding: 0;
    }
  }
  
  
  
  
  
  
  