.OrderStateContain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.OrderStateDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OrderStateCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 50%;
    padding: 40px;
    margin-bottom: 20px;
}
.OrderStateText{
    font-size: var(--txp16);
    color: var(--color2);
}
.OrderStateblock{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.OrderStateArrow{
    padding: 0 21px 53px 21px;
}
