.chenheadimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px rgb(201, 201, 201) solid;     
    object-fit: cover;
    object-position:0px 10px;
    background-color: #b4b3b3   
}
.editbutton2 {
    font-size: 18px;
}

@media screen and (max-width: 700px){
    .chenheadimg {
        width: 40px;
        height: 40px;
    }
    .editbutton2 {
        font-size: 12px;
    }
}