.chenbooksize {
    width: 150px;
    height: 200px;
    bottom: -20px;
}

.chendate {
    font-size: 12px;
}
.chenstar {
    color: #F2DF7D;
}

.bookborder {
    border: 1px;
    border-radius: 5px;
}
.line-hight{
    line-height: 20px;
}
.card_gap{
    gap: 20px;
}

.text-hidden{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

@media screen and (max-width: 700px){
    .card_gap{
        flex-direction: column;
        align-items: center;
    }
}
