.chenbreadhole {
    font-size: 16px;
}
.chenfs {
    font-size: 16px;
}
.chenbooksize {
    width: 150px;
    height: 200px;
}

.chendate {
    font-size: 12px;
}
.chenstar {
    color: #F2DF7D;
}
.chends {
    display: none;
}

@media screen and (max-width: 700px){
    .cardgap{
        display: block;
    }
    .chenfs {
        font-size: 16px;
    }
    .bread {
        display: none;
      }
    .chenjc {
        justify-content: center;
    }
    .chenp {
        padding-right: 50px;
    }
    .chensd {
        display: none;
    }
    .chends {
        display: block;
    }
    .chenbooksize {
        width: 100px;
        height: 150px;
    }
    
}