.blogimg {
    width: 450px;
    height: 250px;
}
.chenbread-hole {
    font-size: 12px;
}
.chendate {
    font-size: 12px;
}

.chenover {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width:400px) {
    .blogimg {
        width: 250px;
        height: 150px;
    }
    .blogtitle {
        font-size: 18px;
    }
    .chenover {
        font-size: 14px;
    }
}