.chenbreadhole {
    font-size: 12px;
}
.chenbread:hover {
    border-bottom: 1px solid black;
}


@media (max-width:400px) {
    .bread {
      display: none;
    }
    .chenfs {
        font-size: 14px;
    }
}