.stickyLeft {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .toolbarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  @media (max-width:400px) {
    .nav {
      display: none;
    }
}