.checkcontain{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
  }

@media(max-width:400px) {
    .checkcontain {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin-bottom: 50px;
      }
}
