/* member/profile */

.edit-btn{
    border: none;
    color: #84A98C;
    background-color: #fff;
    margin-bottom: 5px;
    font-family: 'Noto Serif TC', serif;
  }
  
.outer-container{
    align-items:center;
    justify-content: center;
    max-width: 50%;
    padding-bottom: 50px;
    min-width: 500px;
  }
  
.profile-title{
    font-size: 24px;
    color: var(--color2);
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 800;
    font-family: 'Noto Serif TC', serif;
  }
  
.profile-items{
    font-size: 20px;
    color: var(--color11);
    margin-bottom: 5px;
    font-family: 'Noto Serif TC', serif;
  }
  
.profile-box{
    max-width: 1070px;
    margin-top: 0px;
    font-family: 'Noto Serif TC', serif;
  }
  
.data-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
.form-radio{
    display: flex;
    line-height: 16px;
    align-items: center;
    margin-bottom: 10px;
    
  }
  
  
.save-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    background: #52796F;
    border-radius: 5px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    color: #fff;
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
  }
@media (max-width: 600px) {
  .outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    }
  
  .profile-box {
      width: 100%;
      max-width: 500px;
    }
  
  .data-line {
      justify-content: space-between;
    }
  }