.card {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 50px auto;
  }
  
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
  }
  
.card input {
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
  }
  
.card .error {
    font-size: 12px;
  color: #b52424;
  line-height: 12px;
  margin-top: 5px;
  position: absolute;
  bottom: -15px;
  left: 60px;
  width: 100%;
  text-align: left;
  }
  
.reset-btn {
    background: var(--color2);
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin: auto;
    width: 100%;
    min-width: fit-content;
    max-width: 300px;
    border: 2px solid transparent;
  }
  
.reset-btn:hover {
    background: var(--color11);
    color: #fff;
    border-radius: 5px;
    width: 100%;
    border: 2px solid var(--color11);
}




.for-title {
    margin-bottom: 20px;
    color: var(--color2);
    font-weight: 500;
  }

.form-control {
    flex: 1;
    height: 40px;
    background-color: #ECECEC;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }