/* ./styles/mem-style/reg.module.css */

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+TC&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-iBBwArnDmDzr7nDZB12A9A1SmdF5Su9C5K9iGSJ4pK/rfB1B8Zt7KJC03S0mDOQiu" crossorigin="anonymous"> */

.card_container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 78vh;
  width: 90vw;
  /* overflow: auto; */
}

.card {
  display: flex;
  width: 900px;
  height: 500px;
  max-width: 900px;
  max-height: 500px;
  margin: 30px auto;
  background-color: #fff;
  color: var(--color2);  
  box-shadow: 0 4px 30px rgba(82, 121, 111, 0.5);
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  flex-direction: row; 
  
}


.card:hover {
  box-shadow: 5px 5px 10px rgba(82, 121, 111, 0.5);
}


.lr-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 100%; */
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  padding: 50px 20px;
  justify-content: center;
  background: linear-gradient(to bottom right, var(--color11), var(--color2), var(--color2), var(--color2), var(--color2));
}

.right-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  padding: 100px 10px;
  width: 100%;
}

.right-text {
  margin: auto;
  color: var(--color-tx-2);
}


@media (max-width: 1200px) {
  .card {
    width: 100%;
    height: auto;
  }
}


@media (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 500px;
    margin: 30px auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .left-box {
    display: none;
  }
  
  .right-box {
    border-radius: 5px;
    padding: 50px 10px;
    width: 100%;
  }
}


.form-control {
  flex:1;
  height: 40px;
  background-color: #ECECEC;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 10px;
  font-size: 20px;
}

.reg-title {
  color: #fff;
  margin-bottom: 30px;
}

.color-tx-2 {
  color: var(--color2);
}

.input-container {
  position: relative;
}

.input-fade-in {
  transition: border-color 0.5s ease;
}

.input-fade-out {
  transition: border-color 0.5s ease;
}

.input-focused {
  border-color: rgba(82, 121, 111, 0.8);
}

.error {
  border-color: #b52424;
}

.error-message {
  font-size: 16px;
  color: #b52424;
  line-height: 16px;
  margin-top: 5px;
  position: absolute;
  bottom: -15px;
  left: 10px;
  width: 100%;
  text-align: left;
}


.googlelogin-btn {
  display: none;/*隱藏google登入btn,若有要開發可再打開display:flex*/
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #fff;
  color: var(--color6);
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  width: 100%;
  min-width: fit-content;
  max-width: 300px;
  border: 0.5px solid var(--color6);
  border-radius: 50px;
  font-size: 20px; 
}

.googlelogin-btn:hover {
  box-shadow: 0 2px 8px rgba(132, 169, 140, 0.5);
  color: var(--color2);
}

.fa-google-plus-g {
  margin-right: 10px;
  height: fit-content;
}

.login-btn {
  background: var(--color2);
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 40px;
  margin: auto;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  border: 0.5px solid var(--color11);
  display: block;
}




.login-btn:hover {
  background: var(--color11);
  color: #fff;
  border-radius: 5px;
  width: 100%; 
  border: 2px solid var(--color11); 
}

@media (min-width: 601px) {
  .login-btn {
    display: block; /* 在桌面版顯示 */
  }

  .login-btn-mobile {
    display: none; /* 在桌面版隱藏 */
  }
}

.login-btn-mobile {
  display: block; /* 在行動裝置版顯示 */
  order: 3;
  background-color: #fff;
  margin-top: 10px;
  color: var(--color2);
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: solid 0.5px var(--color11);
}

.login-btn-none{
  display: none;
}

@media (max-width: 600px) {
  .login-btn {
    display: none; /* 在行動裝置版隱藏 */
  }

  .login-btn-mobile {
    display: block; /* 在行動裝置版顯示 */
    order: 3;
    background-color: #fff;
    margin-top: 10px;
    color: var(--color2);
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: solid 0.5px var(--color11);
  }

  .signup-btn {
    order: 2;
  }
}

.login-input {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 0;
  align-items: center;
  width: 100%;
  margin: 0px auto 25px 0px;
  font-size: var(--txp20);
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--bgc11);
  border-radius: 5px;
  border: 1px solid var(--color11);
  color: #fff;
  width: 100%;
  min-width: fit-content;
  max-width: 300px;
  margin-top: auto;
  order:2;
}

.signup-btn:hover {
  background-color: var(--color2);
}

.note {
  font-size: 16px;
  color: var(--color5);
  border: none;
  background-color: #fff;
  width: 100%;
  margin: 12px 0 10px 0;
  align-items: center;
  justify-content: center;
}

.box-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


