.box_member_info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: 0px;
    /* border: 1px solid pink;
    background-color: aquamarine; */
}
.box_member_main{
    display: flex;
    width: 878px;
    height: 300px;
    padding: 10px;
    justify-content: center;
}
.member_info_avatar{
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.avatar_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
    
}
.member_info_detail{
    width: 380px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.detail_name{
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}
.detail_nickname{
    font-weight: bold;
    font-size: 32px;
    color: #6f6f6f;
    
}
.camera_icon{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
