.crumbs_box{
    margin: 0px,20px;
    display: flex;
    justify-content: center;
}
.crumbs_none{
    font-size: 20px;
    width: 80px;
    height: 30px;
    font-weight: bold;
}

.crumbs_border{
    font-size: 20px;
    width: 95px;
    height: 30px;
    border-left: 1px solid black;
    padding-left: 15px;
    font-weight: bold;
}
.selected{
    color:#000000;
}
.unselected{
    color:#D9D9D9;
}