.box_member_info{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 300px;
    margin: 0px;
}
.box_member_main{
    display: flex;
    width: 878px;
    height: 300px;
    padding: 10px;
    justify-content: center;
}
.member_info_avatar{
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.avatar_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url(../../../public/Leo-image/卑鄙源之助.jpg);
    border-radius: 50%;
    
}
.member_info_detail{
    width: 380px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.detail_name{
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}
.detail_nickname{
    font-weight: bold;
    font-size: 32px;
    color: #6f6f6f;
    
}
.camera_icon{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
@media screen and (max-width: 767.98px){
    .box_member_main{
        flex-direction: column;
        width: 100%;
    }
    .member_info_detail{
        width: 100%;
    }
    .box_member_info{
        margin-top: 20px;
    }
}