.crumbs_box{
    margin-left:120px;
    display: flex;
    justify-content: center;
}
.crumbs_none{
    font-size: 20px;
    width: 64px;
    height: 30px;
    font-weight: bold;
    margin-right: 0px;
}

.crumbs_border{
    font-size: 20px; 
    margin-left:20px;
    width: 80px;
    height: 30px;
    border-left: 1px solid black;
    padding-left: 15px;
    font-weight: bold;
}
.selected{
    color:#000000;
}
.unselected{
    color:#D9D9D9;
}
.under_line{
    text-decoration: none;
}
@media screen and (max-width: 767.98px) {
    .crumbs_border{
        font-size: 16px;  
    } 
    .crumbs_none{
        font-size: 16px;
        
    }
}
.mid{
    display: flex;
    justify-content: center;
 }