.used-index-img {
  width: 400px;
  height: 500px;
  background: url('/used-img/used-img.jpg');
  background-size: cover;
}
.used-index-big-text {
  width: 70px;
  line-height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
.used-index-icon {
  width: 130px;
  height: 130px;
}
.used-index-circle {
  width: 300px;
  height: 300px; /*正圓形，所以寬與高都設一樣*/

  border-radius: 999em;

  border: 3px solid white;
  position: relative;
}
.used-index-circle-number {
  color: var(--color4);
  font-size: 96px;
  font-weight: 600;
  position: absolute;
  top: 70px;
  left: 10px;
}
.used-index-circle-img {
  position: absolute;

  top: 20px;
  left: 80px;
}
.used-index-circle-text1 {
  position: absolute;
  top: 160px;
  left: 80px;
}
.used-index-circle-text2 {
  position: absolute;
  width: 190px;
  top: 210px;
  left: 60px;
  text-align: center;
}

.used-index-Accordion-pre {
  white-space: pre-line;
  font-family: 'Noto Serif TC', serif;
}
.used-accordion-item {
  border-bottom: 2px solid black;
}
.index_index_hidden {
  width: 100%;
  overflow: hidden;
  /* white-space: nowrap; */
  overflow-x: hidden;
  height: calc((100vh - 210px) / 2);
  min-height: 340px;
  box-shadow: inset 0 -100px 0 var(--color5);
  padding: 0px;
  margin: 0px;
  user-select: none;
  border-bottom: 20px solid #898989;
}
.index_index_circle {
  width: 30vw;
  height: 30vw;
  border-radius: 999em;
  border: 10px solid var(--color5);
  margin: 100px 0;
  position: relative;
}
.index_index_circle_text {
  font-size: calc(30vw / 7);
  color: var(--color2);
  text-align: center;
  position: absolute;
  top: 15%;
  width: 100%;
  /* left:40px */
}

.index_index_circle_text-sm {
  font-size: 30px;
  color: var(--color5);
  text-align: center;
  position: absolute;
  top: 70%;

  letter-spacing: 10px;
  width: 100%;
}
.index-book-section {
  padding: 0;
  margin: 0;
}
video {
  width: 50% !important;
  /* border-radius: 25% 10%; */
  position: relative;
  left: 5%;
  opacity: 0.9;
}
.index-index-video {
  position: relative;
  width: 100%;
  height: 105%;
  /* display: flex;
    justify-content: center; */
  /* left: 3%; */
}
.index-index-video-card {
  position: absolute;
  width: 40%;
  height: 100%;
  /* background-color: rgba(143, 142, 142, 0.5); */
  /* border-radius: 25% 10%; */
  top: 0%;
  right: 5%;
  z-index: 0.7;
  /* opacity: 0.9; */
  /* box-shadow: -30px 30px 0 rgb(91, 91, 91); */
  display: flex;
  padding: 30px;
  /* box-shadow: -20px 20px 0 rgb(91, 91, 91);  */
  background-color: #747272;

}

.index-index-video-card::before{
  content: '';
  transform: skewX(-10deg);
  transform-origin: bottom right;
  position: absolute;
  width: 100px; /* 设置伪元素的宽度 */
  height: 100%; /* 设置伪元素的高度 */
  top: 0; /* 设置伪元素的顶部位置 */
  left:-100px; /* 设置伪元素的右侧位置 */
  background-color: #747272; 
  /* box-shadow: -20px 20px 0 rgb(91, 91, 91);  */
  overflow: hidden;
  z-index: 0.5/*设置伪元素的背景颜色，便于看到效果*/

}
.index-index-video-container {
  display: flex;
  justify-content: center;
}

.index-index-video-text-sm {
  text-indent: 2em;
  line-height: 35px;
  padding:0px 10px;
  text-align: justify;
  
}

.index_index_mask {
  width: 100%;
  display: flex;
  justify-content: center;
}
.used_index_botton {
  height: 100px;
}
.index-index-aboutUs{
  margin-top: 100px;
  margin-bottom: 50px;
}
.used_display_UsedUpCheck{
  background-color:#747272a3;
  width: 100vw;
  height: 100vmax;
  position: fixed;
  top: 0 ;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 200px;
  z-index: 10;
}
.used_print_only{
  display: none;
}
.used_chk_msg_td_center{
  vertical-align: middle
}
.used_chk_msg_book_name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.used_table_layout{
  table-layout: fixed;
}
.index_index_hidden::before{
  height: 100px;
  content: '';
  width: 100%;
  /* color:#747272; */
  position: absolute;
  z-index: 10;
}
@media print{
  .qr-code{
    display: flex !important;
    
  }
}

@media screen and (max-width: 1700px) {
  .index_index_circle_text {
    font-size: calc(40vw / 7);
  }
  .index_index_circle {
    width: 40vw;
    height: 40vw;
  }
  .index-index-video-text-sm {
    font-size: 16px;
    line-height: 25px;
  }
  .index-index-video-text-md {
    font-size: 28px;
  }
  


  /* video {
    width: 80% !important;
  } */

  /* .index-index-video div {
    display: flex;
    justify-content: center;
  }
  .index-index-video-card {
    width: 60%;
    right: 10px;
    top: 60%;
    box-shadow: 20px 20px 0 rgba(91, 91, 91, 0.7);
    background-color: #3c3e3c;
  } */
}

@media screen and (max-width: 1300px) {
  .index_index_circle_text {
    font-size: calc(50vw / 7);
  }
  .index_index_circle {
    width: 50vw;
    height: 50vw;
  }
  video {
    width: 90% !important;
  }
  .index-index-video {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin-left: 0;
  }
  .index-index-video-container {
    margin-left: 0;
  }
  .index-index-video-card {
    width: 90%;
   
   top: auto;
    height: auto;
    padding: 20px;
  }

  .index-index-video-card::before{
    display: none;
  }
  .index-index-video-text-sm {
    font-size: 20px;
  }
  .index-index-video-text-md {
    font-size: 32px;
  }

}

@media screen and (max-width: 767.98px) {
  .used-display-member {
    margin-top: 30px;
    border-top: 1px solid black;
    border-left: none !important;
  }
  .used-usededit-member-1 {
    padding-top: 30px;
    border-top: 1px solid black;
    border-left: none !important;
  }
  .used-usededit-member-2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .used-index-img {
    width: 80%;
    height: 300px;
    background: url('/used-img/used-img.jpg');
    background-size: cover;
  }
  .used-index-rwd-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .used-index-big-text {
    width: 100%;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    letter-spacing: 20px;
  }
  .used-index-rwd-section1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .used-index-rwd-section1-item {
    width: 100% !important;
  }
  .used-index-rwd-section1-svg {
    justify-content: center;
    align-items: center;
  }
  .used_rwd_botton {
    height: 100px;
  }
  .used-index-icon {
    width: 100px;
  }
  .used-index-text1-big {
    font-size: var(--txi24);
  }
  .used-index-text1-sm {
    font-size: var(--txi14);
  }
  .index_index_circle_text {
    font-size: calc(90vw / 7);
  }
  .index_index_circle {
    width: 90vw;
    height: 90vw;
  }
  .index_index_circle_text-sm {
    font-size: 20px;
  }

  .used-insex-s3-dflex {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    /* gap: 30px; */
  }
  .index-index-video-text-sm {
    font-size: 16px;
  }
  .index-index-video-text-md {
    font-size: 20px;
  }
  .used_index_botton {
    height: 500px;
  }
  .index-index-video-card{
    padding: 10px !important;
  
  }
  /* .index_index_hidden{
    height: 400px;
    overflow: auto;
  } */

  .used-search-text-14{
    font-size: var(--txi14) !important;
  }
  .used-search-text-16{
    font-size: var(--txi16) !important;
  }
  .used-search-text-20{
    font-size: var(--txi20) !important;
  }
}

@media screen and (max-width: 400px) {
  .index_index_hidden{
    height: 400px;
    overflow: auto;
  }
  .used-display-search{
    flex-direction: column;
    align-items: center;
    
  }
  .used-search-text{
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
 }

 /* @media print {
  .used_print_only {
    padding-left: 20px;
  }
} */
